/* Put your CSS here */
html, body {
    margin: 20px;
}

#title {
    height: 60px;
    //border: 1px solid;
	padding: 2px;
}

.title-text {
    font-size: 45px;
}

#post-title {
    font-size: 24px;
    background: #20F020;
    font-weight: bold;
}

.tag {
    margin-top: 2px;
    margin-right: 1px;
    font-style: italic;
}

.post {
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

#new-post-form {
    width: ;
}

#new-post-title {
    width: 100%;
}

#user-info {
	float: right;
}

.post-list-entry-title {
	font-size: 24px;
	font-weight: bold;
}

#new-post {
	margin-left: 5px;
}

.error-message {
	color: red;
}

.error input {
	background-color: red;
}
