
<div id="new-user-form">
	<label>Login: </label> {{input type="text" value=login}}
	<button {{action "addUser"}}>Register</button>
	{{#if error}}
		<div class="error-message">Error</div>
	{{/if}}
</div>
