
<ul class="post-list list-group">
    {{#if view.caption}}<div class='.post-list-caption'>{{view.caption}}</div>{{/if}}
    {{#each post in view.posts}}
        <li class="list-group-item">
            {{#link-to 'posts.post' post.id class='post-list-entry-title'}}{{post.title}}{{/link-to}}
			<a class="pull-right" {{action 'deletePost' post on='click'}}>Delete</a>
        </li>
    {{/each}}
</ul>
