
<div id="new-post-form">
    <div id="new-post-title" class="form-group">
		<label>Title</label>
        {{input type="text" class="form-control" value=title}}
    </div>

    <div id="new-post-content" class="form-group">
		<label>Content</label>
        {{textarea value=text class="form-control"}}
    </div>

    <div id="tags" class="form-group">
		<label>Tags</label>
        {{textarea value=tags class="form-control"}}
    </div>

    <button class="btn btn-default" {{action "submit"}}>Submit</button>
</div>
