
<div class="post">
    <div id="post-title">
        {{title}}
    </div>

    <small id="post-posted">
        Posted {{date}} by {{#link-to 'posts.user' author.id}}{{author.name}}{{/link-to}}
    </small>

    <hr />

    <div id="post-content">
        <p>{{text}}</p>
    </div>

    <div id="tags">
        {{#each tags}}
            <span class="tag">
                {{#link-to 'posts.tag' this}}{{this}}{{/link-to}}
            </span>
        {{/each}}
    </div>
</div>

<div class="comments">

    {{#each comments}}
        <div class="comment">
            <span class="comment-meta">
                {{#link-to 'posts.user' author.id}}{{author.name}}{{/link-to}}: 
            </span>

            <span class="comment-content">
                {{content}}
            </span>
        </div>
    {{/each}}

	{{#if controllers.application.currentUser}}
    <div id="new-comment">
        <div id="new-comment-text">
            {{textarea value=newCommentText}}
        </div>
        <button {{action "submitComment"}}>Add comment</button>
    </div>
	{{/if}}
    
</div>
