
<div>
Posts:

{{#each}}
    <div>
        Title: {{title}} <br />
        Comments:
        <ul>
            {{#each comments}}
                <li>{{content}} on {{post.title}}</li>
            {{/each}}
        </ul>
    </div>
{{/each}}
</div>
