
<div>
Users:

{{#each}}
    <div>
        Name: {{name}} <br />
        Posts:
        <ul>
            {{#each posts}}
                <li>{{title}}</li>
            {{/each}}
        </ul>
        Comments:
        <ul>
            {{#each comments}}
                <li>{{content}} on {{post.title}}</li>
            {{/each}}
        </ul>
    </div>
{{/each}}

</div>
