<div id='title'>{{#link-to 'posts' class='title-text'}}Title{{/link-to}}

<span id="user-info" {{bind-attr class="error"}}>
	{{#if error}}
		<span class="error-message">{{errorMessage}}</span>
	{{/if}}

    {{#if currentUser}}
        Logged in as {{currentUser.name}}
        <a {{action "logout"}}>Logout</a>
    {{else}}
        Username: {{input type="text" value=username }}
        <a {{action "login"}}>Login</a>

		{{#link-to "users.new" }}Register{{/link-to}}
    {{/if}}
</span>

</div>

{{outlet}}
